<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include ./template.default.pug
    title GlobalVar

  body


    .container-fluid.mt-2

      .row
        .col
          legend= `modelTarget: ${modelTarget}`

      .row
        .col

          - const hiddenColumns = ['_id', '__v']
          
          if data && Array.isArray(data) && data.length>0
            - const data_headers = Object.keys(data[0])
            table.table.table-bordered.table-responsive
              thead.bg-light.small
                tr
                  each header in data_headers
                    if hiddenColumns.indexOf(header)>=0
                      th.p-1.d-none= header
                    else
                      th.p-1= header
              tbody.small
                each record in data
                  tr
                    each header in data_headers
                      if hiddenColumns.indexOf(header)>=0
                        td.p-1.d-none= record[header]
                      else
                        td.p-1= record[header]

          else
            span no data to display