<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    include ./template.default.pug
    script(src=`${baseURL}/public/upload.js`)
    title GlobalVar
  body

    h2.pl-3
      a(href=`${baseURL}/`, style="color:black; text-decoration:none;") GlobalVar  
    nav(aria-label="breadcrumb")
      ol.breadcrumb.pl-3
        li.breadcrumb-item
          a(href=`${baseURL}/`) Home
        li.breadcrumb-item
          span= ``+target_model
        li.breadcrumb-item
          span Upload CSV

    .container-fluid

      .mb-2.small.text-secondary= `Starting at ${moment().format('YYYY-MM-DD HH:mm:ss')}`

      .mt-0

        .tab-pane.active#paneUpload.d-none
          h5.mb-4
            span.badge.badge-pill.badge-primary.mr-2 1
            span Upload CSV File
          form.form
            .row
              .col.mb-4.mt-4
                input.form-control-file.border(type="file", name="userAttachment")
            .row
              .col.mt-4
                button.btn.btn-sm.btn-primary.border.mr-4(type="button", name="btnUpload")
                  span » Upload CSV
                a(href=`${baseURL}/`)
                  button.btn.btn-sm.btn-light.border(type="button") Cancel

        //- 

        .tab-pane#paneSample.d-none
          h5.mb-4
            span.badge.badge-pill.badge-primary.mr-2 2
            span Sample Data
          form.form
            .row
              .col.mt-4
                table.table.table-sm.table-bordered.table-striped.table-hovered
                  thead.bg-light.small
                    tr
                      th --
                  tbody.sampleData.small
                    tr
                      td --
            .row.form-group
              .col-4#textTotalRows.small --
            .row.form-group
              .col-4.mt-4
                .input-group.input-group-sm
                  .input-group-prepend
                    span.input-group-text Reference Code
                  input.form-control#refCode(type="text", name="refCode", value="dcstest")
            .row.form-group
              .col-4.mt-4
                button.btn.btn-sm.btn-primary.border.mr-2(type="button", name="btnLoadData")
                  strong » Confirm Data
                a(href=`${baseURL}/`)
                  button.btn.btn-sm.btn-light.border(type="button") Cancel

        //- 

        .tab-pane#paneResult.d-none
          h5.mb-4
            span.badge.badge-pill.badge-primary.mr-2 3
            span Result
          .row
            .col#dumpResult
          
          hr

          #waiting
            .spinner
              .spinner-border.text-primary(role="status")
                span.sr-only Loading...
              span.ml-2 Please wait for processing.
            .row.form-group.d-none
              .col
                a.btn.btn-sm.btn-primary.border.mr-2(href=`${baseURL}/`+target_model) Start over
                a.btn.btn-sm.btn-light.border(href=`${baseURL}`) Back to Home

    script(src="/library/bootstrap/js/bootstrap.bundle.min.js")